__pycache__/
gecreativa/
flask_session/
readable_pages/
k8s/
store/
backup/

*.pyc
.git
.gitignore
debug.log
client_id.json
notas.txt
flaskhelp.py
flaskhelp.txt
commands.txt

Dockerfile
docker-compose*.yml


.env.dev
.env.prod

!migrations
!migrations/**